@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,500;1,18..144,500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');





/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Layout
        3.1 Reusables
        3.2 Other
    4. Areas
        4.1 Header
        4.2 Introduction
        etc.
    5. Media Queries
    6. Footer

 ////////////////////////*/

/*De gebruikte fonts-family voor de "<headings->>Merriweather<<"  en >>Roboto<< voor "normale tekst".*/

/*De ontwerper heeft de gebruikte kleuren voor ons aangeleverd:*/
/*Paars #5722CD;*/
/*Blauw #4845E4;*/
/*Roze #ED4385;*/
/*Zwart #0C0C0C (voor standaard tekst);*/
/*Lichtpaars #F2F0FF (voor de grote zwevende woorden, zoals "hello" en "services") Uitzonderingen: */
/*Lichtgrijs #F3F6F9 (voor de achtergrond van de projecten)*/
/*Grijs #7A7A7A (voor de service-tegel tekst);*/


/* ------------------------------- 1. Global Styles -------------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;

}

/* ------------------------------- 2. Typography ----------------------------------- */

header {
    color: white;
    background-color: #5722CD;
}
h1, h2, h3, h4{
    font-family:  merriweather, sans-serif;
}

h1, h2 {
    font-size: 2.5em;
}

h3 {
    font-size: 1.6em;
}

p {
    font-family: roboto, sans-serif;
    color: #0C0C0C;
}


/* ------------------------------- 3. Layout --------------------------------------- */
/* --------------- 3.1 Reusables ----------------------- */

/*......sections......*/
{
    display: flex;
    text-align: center;
    flex-flow: column wrap;
    margin: 10px 16% 120px;
    padding: 70px;
    position: relative;
}
/*.......form.......*/
{
    display: flex;
    width: 370px;
    color: white;
    background-color: #4845E4;
}

/*......image......*/
{
    width: 100%;
}

/*....image-wrappe.... */
{
    flex-basis: 800px;
    flex-grow: 0;
    flex-shrink: 1;
}


/* --------------- 3.2 Other --------------------------- */
a:link {
    color: white;
}
a:visited {
    color: lightskyblue;
}

.section-2 {
    display: flex;
    flex-direction: column;
}


.article1, .article2, .article3 {
    display: flex;
}
.div-art1, .div-art2, .div-art3 {
    padding: 10px;
    margin: 100px 60px 40px;
}
.img-wrapper {
    margin: 5px 10px;
    padding: 0 20px 0 50px;
}

.article2 {
    flex-direction: row-reverse;
}


.section-3{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    max-width: 1200px;
    width: 100%;
    margin: 5px 10px;
    padding: 0 20px 0 50px;
}
.sect3-card {
    flex: 1 1 calc(50% - 100px);
    max-width: 330px;
    padding: 35px;
    border: 1.5px solid;
    border-radius: 3px;
    /*transition: transform 0.3s ease;*/
}
.sect-3 image {
    width: 40px;
    height: 30px;
    border-radius: 30%;
}
.sect3-card h3 {
    margin: 0 0 8px;
}

.sect3-card p {
    font-size: 14px;
    color: #555;
}


.section-4 {
    display: flex;
    justify-content: center;
    background-color: #4845E4;
}
#Contact-form {
    display: flex;
    flex-direction: column;
    background-color: #4845E4;
    width: 60%;
    margin-bottom: 200px;
}
.name, .email, .message {
    display: flex;
    width: 100%;
    color: white;
    background-color:  #5722CD;
}
.input-Name {
    height: 15%;
}
.input-Email {
    height: 25%;
}
textarea {
    height: 50%;

}

.form-btn {
    color: white;
    background-color: #ED4385;
    border-radius: 40px;
    height: 60px;
    width: 150px;
    margin-left: 300px;
    padding: 17px;
    text-align: center;
    text-decoration: none;
}
.span-btn {
    background-color: #4845E4;
    margin-bottom: 20%;
}

/* ------------------------------- 4. Areas ---------------------------------------- */
/* --------------- 4.1 Header ------------------------- */
.nav {
    /*border: 2px dotted deeppink;*/
    display: flex;
    color: white;
    justify-content: flex-end;
    margin: 0 3%;
    padding: 10px;
}
.iner-nav {
    text-decoration: none;
    list-style-type: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: baseline;
    color: white;
    width: 35%;
    gap: 45px;
    flex-shrink: 0;
    flex-basis: auto;
    margin: 10px;
}
.iner-nav:hover {
    color: white;
}
.hdr-container {
    display: flex;
    text-align: center;
    flex-flow: column wrap;
    flex-shrink: 1;
    margin: 5px 16% 120px;
    padding: 70px;
    position: relative;
}
.hdr-p{
    font-size: 1.5em;
    color: white;
}
#hdr-btn:link, #hdr-btn:visited {
    background-color: #ED4385;
    color: white;
    border-radius: 40px;
    height: 60px;
    width: 219px;
    margin-top: 10px;
    margin-left: 240px;
    padding: 17px;
    text-decoration: none;
}
.squirl-line {
    flex-basis: 100px;
    flex-grow: 0;
    flex-shrink: 1;
    position: absolute;
    margin-top: 340px;
    margin-left: 315px;
}


    /* --------------- 4.2 Introduction ------------------- */
.section-1 {
    display: flex;
    text-align: center;
    flex-flow: column wrap;
    flex-shrink: 1;
    margin: 70px 16% 120px;
    padding: 60px;
}
.sect-p {
    margin-top: 130px;
    color: #0C0C0C;
}
.sect-h3 {
    color: #5722CD;
}


    /* ------------------------------- 5. Media Queries -------------------------------- */
@media screen and (min-width: 576px) {
    font-size: 12px;
}
@media screen and (min-width: 768px) {
    font-size: 14px;
}
@media screen and (min-width: 992px) {
    font-size: 16px;
}


    /* --------------- 6. footer ------------------------- */
footer {
    color: white;
    background-color: black;
    text-align: center;
}
.ftr-p {
    color: white;
}
