@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,500;1,18..144,500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');





/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Layout
        3.1 Reusables
        3.2 Other
    4. Areas
        4.1 Header
        4.2 Introduction
        etc.
    5. Media Queries
    6. Footer

 ////////////////////////*/

/*De gebruikte fonts-family voor de "<headings->>Merriweather<<"  en >>Roboto<< voor "normale tekst".*/

/*De ontwerper heeft de gebruikte kleuren voor ons aangeleverd:*/
/*Paars #5722CD;*/
/*Blauw #4845E4;*/
/*Roze #ED4385;*/
/*Zwart #0C0C0C (voor standaard tekst);*/
/*Lichtpaars #F2F0FF (voor de grote zwevende woorden, zoals "hello" en "services") Uitzonderingen: */
/*Lichtgrijs #F3F6F9 (voor de achtergrond van de projecten)*/
/*Grijs #7A7A7A (voor de service-tegel tekst);*/


/* ------------------------------- 1. Global Styles -------------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;

}

/* ------------------------------- 2. Typography ----------------------------------- */

header {
    color: white;
    background-color: #5722CD;
}
h1, h2, h3, h4{
    font-family:  merriweather, sans-serif;
}

h1, h2 {
    font-size: 2.5em;
}

h3 {
    font-size: 1.6em;
}

p {
    font-family: roboto, sans-serif;
    color: #0C0C0C;
}


/* ------------------------------- 3. Layout --------------------------------------- */


/* --------------- 3.1 Reusables ----------------------- */


/* --------------- 3.2 Other --------------------------- */
/*Lichtpaars #F2F0FF (voor de grote zwevende woorden, zoals "hello" en "services"

/* ------------------------------- 4. Areas ---------------------------------------- */


/* --------------- 4.1 Header ------------------------- */

.nav {
    /*border: 2px dotted deeppink;*/
    display: flex;
    color: white;
    justify-content: flex-end;
    margin: 0 3%;
    padding: 10px;
}
.iner-nav {
    /*border: 2px dashed lightgreen;*/
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: baseline;
    width: 35%;
    gap: 45px;
    flex-shrink: 0;
    flex-basis: auto;
    list-style-type: none;
    margin: 10px;
}

.hdr-container {
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    margin-left: 16%;
    margin-right:16%;
    padding: 75px;
    position: relative;
}

.hdr-p{
    font-size: 1.5em;
}

.hdr-btn {
    color: white;
    background-color: #ED4385;
    border-radius: 40px;
    height: 60px;
    width: 219px;
    margin-top: 28px;
    margin-left: 232px;
}
.squirl+line {
    position: absolute;
    align-content: center;
    margin-top: 30px;
}
    /* --------------- 4.2 Introduction ------------------- */
.section-1{
    text-align: center;
    margin-left: 16%;
    margin-right:16%;
    padding: 85px;
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    /*align-items: center;*/
}

    /* ------------------------------- 5. Media Queries -------------------------------- */
@media screen and (min-width: 576px) {
    font-size: 12px;
}
@media screen and (min-width: 768px) {
    font-size: 14px;
}
@media screen and (min-width: 992px) {
    font-size: 16px;
}


    /* --------------- 6. footer ------------------------- */
footer {
    color: white;
    background-color: black;
    text-align: center;
}
